<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Result</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
	<!--	<p th:text="'id: '+${Chef.id}"/>-->
		<p th:text="'fullname: '+${room.fullname}"/>
		<p th:text="'roomNumbers: '+${room.roomNumbers}"/>
		<p th:text="'streetAddress: '+${room.streetAddress}"/>
		<p th:text="'city: '+${room.city}"/>
		<p th:text="'state: '+${room.state}"/>
		<p th:text="'price: '+${room.city}"/>
		<p th:text="'wifi: '+${room.wifi}"/>
		<p th:text="'cable: '+${room.cable}"/>
		<p th:text="'privateBathroom: '+${room.privateBathroom}"/>
		<p th:text="'rules: '+${room.rules}"/>
		<p th:text="'rented: '+${room.rented}"/>
		
		<a href="/new">Home</a>
	</body>
</html>